#loginForm{
	border-radius: 10px;
	border: 1px solid black;
	background-color: white;
	padding: 40px;
	margin-top: 50px;


	.spacing{
		 margin: 5px 0;
	}

	input, textarea {
 		 max-width:100%
	}

	.errormessage{
		color: rgb(255,0,0);
		display: block;
	}
}







