#loginForm{
	border-radius: 10px;
	border: 1px solid black;
	background-color: white;
	padding: 40px;
	margin-top: 50px;


	.spacing{
		 margin: 5px 0;
	}
	.errormessage{
		color: rgb(255,0,0);
		display: block;
	}
}







