<div class="modal-header">
	<h3 class="modal-title">Create a Question</h3>

</div>

<div class="modal-body">
	
	<div class="container-fluid">
		<div class="row">
			<div class="line">
				<div class="col-xs-3">
					Flokkur: <br>
					(<span class="italic">Category</span>)
				</div>
				<div class="col-xs-9">
					<select ng-model="question.category">
						<option value="Course question">
							Áfanga spurning <br>
							(<span class="italic">Course question</span>)
						</option>
						<option value="Teacher question">
							Kennara spurning <br>
							(<span class="italic">Teacher question</span>)
						</option>
					</select>
				</div>
			</div>

			<div class="line">
				<div class="col-xs-3">
					Tegund: <br>
					(<span class="italic">Type</span>)
				</div>
				<div class="col-xs-9">
					<select ng-model="question.type">
						<option value="text">
							Texti <br>
							(<span class="italic">Text</span>)
						</option>
						<option value="single">
							Einn valmöguleiki <br>
							(<span class="italic">Single</span>)
						</option>
					</select>
				</div>
			</div>

			<form novalidate name="questionBase">

				<div class="line">
					<div class="col-xs-3">
						Spurning: <br>
					</div>
					<div class="col-xs-9">
						<input name="question" required="required" type="text" ng-model="question.Text">
					</div>
				</div>

				<div class="line">
					<div class="col-xs-3">
						Question: <br>
					</div>
					<div class="col-xs-9">
						<input name="questionEN" required="required" type="text" ng-model="question.TextEN">
					</div>
				</div>

			</form>

			<div ng-show="question.type === 'single'">
				
				<div class="line" ng-repeat="option in question.options track by $index">

					<div class="optionHeight">
						<div class="col-xs-3">
							Valmöguleiki {{$index + 1}}: <br>
						</div>
						<div class="col-xs-9">
							<input class="optionMargin" type="text" ng-model="question.options[$index].Text">
						</div> 
					
					</div>
					<div class="optionHeight">
						<div class="col-xs-3">
							Option {{$index + 1}}: <br>
						</div>
						<div class="col-xs-9">
							<input class="optionMargin" type="text" ng-model="question.options[$index].TextEN">
						</div>
					</div>
				</div>
				
			</div>
		</div>
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-4">
						<button class="btn btn-default" ng-click="addOption()">
							Bæta við valmöguleika <br>
							(<span class="italic">Add option</span>)
						</button>
					</div>
					<div class="col-xs-5"></div>
				</div>
			
				<div class="errorBlock" ng-show="errors.show">	
					<p class="errorMessage" ng-show="questionBase.question.$error.required">-Spurningu vantar</p>
					<p class="errorMessage" ng-show="questionBase.questionEN.$error.required">-Question is missing</p>
					<p class="errorMessage" ng-show="errors.single">-bannað að gera tóman valmöguleika</p>
				</div>

	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Ok</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		
</div>