<div class="modal-header">
	<h3 class="modal-title text-center">
		Niðurstöður úr: {{template.TemplateTitle}} <br> fyrir: {{results.CourseName}} {{results.Semester}} <br>
		<h4 class="text-center">(<span class="italic">Results from: {{template.TemplateTitleEN}} <br> for:  {{results.CourseName}} {{results.Semester}}</span>)</h4>
	</h3>

</div>

<div class="modal-body">
	<accordion close-others="oneAtATime">

		<accordion-group ng-repeat="result in results.Questions" is-open="status.open">

			<accordion-heading>
			<div class="row">
				<div class="col-xs-5">
					<span class="bold">Spurning:</span> <br>{{result.Text}} 
					<br>
					(<span class="italic"><span class="bold">Question:</span><br>  {{result.TextEN}}</span>)
					<br>
				</div>
				<div class="col-xs-5">
					<span ng-show="result.TeacherSSN === null">
						<span class="bold">Tegund: <br></span>Áfangaspurning <br>
						(<span class="italic"><span class="bold">Type:</span><br> Course question</span>)
					</span>
					<span ng-show="result.TeacherSSN !== null">
						<span class="bold">Tegund: </span><br>Kennaraspurning handa {{result.TeacherSSN}} <br>
						(<span class="italic"><span class="bold">Type:</span><br> Teacher question for {{result.TeacherSSN}}</span>)
					</span>
				</div>	
				<div class="col-xs-2">		 
					<!-- Spurningar fyrir (<span class="italic">Questions for</span>): {{teacher.FullName}} --> 
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</div>
			</div>
	
			</accordion-heading>

			<div ng-show="result.TextResults.length">
				<div ng-repeat="textResult in result.TextResults track by $index">
					{{textResult}}
				</div>
			</div>

			<div ng-show="result.OptionsResults.length">
				<div ng-repeat="optionResult in result.OptionsResults track by $index">
					{{optionResult.AnswerText}} (<span class="italic">{{optionResult.AnswerTextEN}}</span>)
					Count: {{optionResult.Count}}
				</div>
			</div>

		</accordion-group>

	</accordion>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Ok</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		
</div>