
<div class="modal-header">
	<h3 class="modal-title">{{currentTemplate.Title}}  ({{currentTemplate.TitleEN}})</h3>
</div>

<div class="modal-body">

<div class="container-fluid">
	<div class="row">
		<div class="mainContent">
		
			<div ng-show="currentTemplate">

				<div class="text-center">
					Lýsing: {{currentTemplate.IntroText}}
				</div>
				<div class="text-center italic">
					Description: {{currentTemplate.IntroTextEN}}
				</div>
					
				<div>
					<h3>
						Áfangaspurningar (<span class="italic">Course Questions</span>)
					</h3>

					<div ng-repeat="courseQ in currentTemplate.CourseQuestions">
						<div>
							<h4>{{courseQ.Text}} (<span class="italic">{{courseQ.TextEN}}</span>)</h4>

							<div ng-show="courseQ.Type === 'text'">
								<textarea class="textbox">
								</textarea>
							</div>

							<div ng-repeat="answer in courseQ.Answers"ng-show="courseQ.Type === 'single'">
								<input name="courseAnswergroup" type="radio"> {{answer.Text}} (<span class="italic">{{answer.TextEN}}</span>)
							</div>
						</div>

					</div>

				</div>
				<div>
					<h3>
						Kennaraspurningar (<span class="italic">Teacher Questions</span>)	
					</h3>

					<div ng-repeat="teacherQ in currentTemplate.TeacherQuestions">
						<div>
							<h4>{{teacherQ.Text}} (<span class="italic">{{teacherQ.TextEN}}</span>)</h4>

							<div ng-show="teacherQ.Type === 'text'">
								<textarea class="textbox">
								</textarea>
							</div>

							<div ng-repeat="answer in teacherQ.Answers"ng-show="teacherQ.Type === 'single'">
								<input name="teacherAnswergroup"  type="radio"> {{answer.Text}} (<span class="italic">{{answer.TextEN}}</span>)
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</div> 
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>