<div class="container-fluid">

	<div class="row">

		<h1 class="text-center">Admin Home</h1>

		<div class="col-md-4 col-sm-5">

			<h2 class="text-center">Templates</h2>
			
			<div class="mainContent border-fix">
				
				<i class="fa fa-plus fa-2x pull-right" ng-click="createTemplate()" title="Create template"></i>
				
				<table class="table table-striped">
					<tr>
						<th class="firstheader"> Sniðmát (<span class="italic">Template name</span>):</th>
						<th class="lastheader"></th>
					</tr>
					<tbody ng-repeat="temp in templates">
						<tr class="tablecolor">
							<td class="col-xs-10">{{temp.Title}}</td>
							<td class="col-xs-2">
								<button class="pull-right btn btn-default btn-sm backgroundcolor" ng-click="viewTemplate(temp.ID)" >Skoða (<span class="italic">View</span>)
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<div class="col-sm-7 col-md-8">

			<h2 class="text-center">Evaluations</h2>

			<div class="mainContent border-fix">

				<i class="fa fa-plus fa-2x pull-right"></i>
				
				<table class="table table-striped">
					<tr>
						<th class="firstheader"> Titill (<span class="italic">Title</span>)</th>
						<th class="hidden-sm hidden-xs">Byrjar (<span class="italic">Starts</span>)</th>
						<th class="hidden-sm hidden-xs">Endar (<span class="italic">Ends</span>)</th>
						<th>Staða (<span class="italic">Status</span>)</th>
						<th class="lastheader"></th>
					</tr>
					<tbody ng-repeat="eval in evaluations">
						<tr class="tablecolor">
							<td class="col-xs-4">{{eval.TemplateTitle}}</td>
							<td class="col-xs-2 hidden-sm hidden-xs">
								{{eval.StartDate | date:"mediumDate"}} <br>
								{{eval.StartDate | date:"shortTime"}}
							</td>
							<td class="col-xs-2 hidden-sm hidden-xs">
								{{eval.EndDate | date:"mediumDate"}} <br>
								{{eval.EndDate | date:"shortTime"}}
							</td>
							<td class="col-xs-2">{{eval.Status}}</td>
							<td class="col-xs-2">
								<button ng-click="viewResult(eval.ID)" class="pull-right btn btn-default btn-sm backgroundcolor" >Skoða Niðurstöður <br>
								(<span class="italic">View Results</span>)
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>

Templates: {{templates}}

Evaluations: {{evaluations}}