<div class="container-fluid">

	<div class="row mainContent col-sm-8 col-sm-offset-2">

		<h1 class="text-center">Nýtt sniðmát (<span class="italic">New template</span>)</h1>

		<form novalidate name="templateBase">

		<div class="inputspacing">
			<span class="col-xs-3">
				Sniðmátstitill:
			</span> 
			<span class="col-xs-9 marginTop30">
				<input name="title" required="required" ng-model="template.Title" type="text">	
			</span>	
		</div>

		<div class="inputspacing">
			<span class="col-xs-3">
				Template title:
			</span> 
			<span class="col-xs-9 marginTop30">
				<input name="titleEN" required="required" ng-model="template.TitleEN" type="text">	
			</span>	
		</div>

		<div class="inputspacing">
			<span class="col-xs-3">
				Inngangstexti:
			</span> 
			<span class="col-xs-9 marginTop30">
				<textarea name="introText" required="required" ng-model="template.IntroText" class="textbox">
					
				</textarea>
			</span>	
		</div>

		<div class="inputspacing">
			<span class="col-xs-3">
				Introduction:
			</span> 
			<span class="col-xs-9 marginTop30">
				<textarea name="introTextEN" required="required" ng-model="template.IntroTextEN" class="textbox">

				</textarea>	
			</span>	
		</div>

		</form>

		<div class="newQuestions">

			<div class="courseQuestions" ng-show="template.CourseQuestions.length">
				
				<h3>
					Áfangaspurningar 
					(<span class="italic">Course questions</span>) 
				</h3>

				<div ng-repeat="courseQ in template.CourseQuestions">
					<div>
						<h4>{{courseQ.Text}} (<span class="italic">{{courseQ.TextEN}}</span>)</h4>
						
						<div ng-show="courseQ.Type === 'text'">
							<textarea class="textbox">
								
							</textarea>
						</div>

						<div ng-repeat="answer in courseQ.Answers" ng-show="courseQ.Type === 'single'">
								<input name="courseAnswergroup{{courseQ.Text}}" type="radio"> {{answer.Text}} (<span class="italic">{{answer.TextEN}}</span>)
						</div>
					</div>
				</div>
				
			</div>

			<div class="teacherQuestions" ng-show="template.TeacherQuestions.length">
				
				<h3>
					Kennaraspurningar 
					(<span class="italic">Teacher questions</span>) 
				</h3>

				<div ng-repeat="teacherQ in template.TeacherQuestions">
					<div>
						<h4>{{teacherQ.Text}} (<span class="italic">{{teacherQ.TextEN}}</span>)</h4>
						
						<div ng-show="teacherQ.Type === 'text'">
							<textarea class="textbox">
								
							</textarea>
						</div>

						<div ng-repeat="answer in teacherQ.Answers" ng-show="teacherQ.Type === 'single'">
								<input name="teacherAnswergroup{{teacherQ.Text}}" type="radio"> {{answer.Text}} (<span class="italic">{{answer.TextEN}}</span>)
						</div>
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 text-center">
					<button class="btn btn-default" ng-click="newQuestion()">
						Bæta við spurningu <br> (<span class="italic">Add question</span>)
					</button>
				</div>
			</div>
			<div class="line text-center">
				<button class="btn btn-success" ng-click="saveTemplate()">
					Ok
				</button>
				<button class="btn btn-danger" ng-click="cancel()">
					Cancel
				</button>
			</div>

			<div class="errorBlock" ng-show="saved.template">	
					<p class="errorMessage" ng-show="templateBase.title.$error.required">-Sniðmáts titil vantar</p>
					<p class="errorMessage" ng-show="templateBase.titleEN.$error.required">-Template title is missing</p>
					<p class="errorMessage" ng-show="templateBase.introText.$error.required">-Inngangstexta vantar</p>
					<p class="errorMessage" ng-show="templateBase.introTextEN.$error.required">-Introduction is missing</p>
					<p class="errorMessage" ng-show="errors.template">-Þú getur ekki vistað sniðmát ef engin spurning hefur verið vistuð <br><span class="italic">-You can't save a template if no questions have been saved</span></p>
			</div>

			
		</div>

	</div>

</div>
