<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12">
			<button class="btn btn-danger pull-left btnmargin" ng-click="logout()">
				Logout
			</button>
		</div>

		<div class="row text-center">
			<h3 class="col-sm-6 col-sm-offset-3">Vinsamlegast metið eftirfarandi áfanga:</h3>	
			<h4 class="col-sm-6 col-sm-offset-3 italic">Please evaluate the following courses:</h4>			
		
		</div>
		<div class="col-sm-6 col-sm-offset-3  mainContent">
			<div class="row padding">
				<table class="table table-striped">
					<tr>
						<th class="firstheader">Nafn áfanga (<span class="italic">Course name</span>):</th>
						<th>Mat (<span class="italic">Evaluation</span>):</th>
						<th class="lastheader"></th>
					</tr>
					<tbody ng-repeat="eval in evaluations">
						<tr class="tablecolor">
							<td class="col-xs-7">{{eval.CourseName}}</td>
							<td class="col-xs-4">{{eval.TemplateName}}</td>
							<td class="col-xs-1">
								<button class="pull-right btn btn-default btn-sm backgroundcolor" ng-click="openEvaluation(eval.CourseID, eval.Semester, eval.ID)">Meta (<span class="italic">Evaluate</span>)
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


</div>
