<div class="container-fluid">
	<div class="row">
		<div class="mainContent col-sm-8 col-sm-offset-2">
		
			<div ng-show="evaluation.data">
				<h2 class="text-center">
					{{evaluation.data.Title}}
				</h2>

				<h3 class="text-center italic">
					{{evaluation.data.TitleEN}}
				</h3>

				<div class="text-center">
					Lýsing: {{evaluation.data.IntroText}}
				</div>
				<div class="text-center italic">
					Description: {{evaluation.data.IntroTextEN}}
				</div>
					
				<h3>
					Áfangaspurningar (<span class="italic">Course Questions</span>)
				</h3>

				<div>
					<evaluation-question ng-repeat="courseQ in evaluation.data.CourseQuestions" answers="answers" ng-model="courseQ" teacher="">
					</evaluation-question>
				</div>

				<h3>
					Kennaraspurningar (<span class="italic">Teacher Questions</span>)	
				</h3>

			 	<accordion close-others="oneAtATime">
	    			<accordion-group ng-repeat="teacher in evaluation.teachers" is-open="status.open">
		        		<accordion-heading>
		           		 Spurningar fyrir (<span class="italic">Questions for</span>): {{teacher.FullName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		        		</accordion-heading>
						<evaluation-question ng-repeat="teacherQ in evaluation.data.TeacherQuestions" answers="answers" ng-model="teacherQ" teacher="teacher.SSN">
						</evaluation-question>	    		
					</accordion-group>
	  			</accordion>

	  			<div class="errorBlock" ng-show="errors">	
					<p class="errorMessage">-Ekki er hægt að skila mati nema fylla út allar áfangaspurningar (<span class="italic">You can't turn in an evaluation if you haven't answered all course questions</span>)</p>
				</div>
			
				<button type="button" ng-click="sendEvaluation()" class="button pull-right btn btn-default btn-lg">Senda svör (<span class="italic">Send answers</span>)</button>		

			</div>
		</div>
	</div>

</div>

<!-- {{answers}} -->
<!-- {{evaluation.data}} -->