
	<div id="loginContainer" class="text-center">
		<div id="loginForm">

			<div>
				<h1>Login Page</h1>
			</div>

			<form novalidate name="loginForm">
	
				<div class="spacing">
					<label for="loginName"> Username: </label>

					<input type="text" id="loginName" name="loginName" ng-model="user.username" focus-directive enter-directive enter="login()">
				</div>
			
				<div class="spacing">
					<label for="loginPass"> Password: </label>	

					<input type="text" id="loginPass" name="loginPass" ng-model="user.password" enter-directive enter="login()">
				</div>

				<div class="spacing pull-right">
					<button ng-click="login()">Log in</button>
				</div>

				<div class="errorBlock" ng-show="submitted">
					<p class="errorMessage" ng-show="errors.available">Incorrect credentials</p>
					<p class="errorMessage" ng-show="errors.empty">Username and password must be filled in to attempt login</p>
				</div>
			
			</form>

	
		</div>

	</div>

