<div class="container-fluid">
	<div id="loginContainer" class="text-center col-sm-4 col-sm-offset-4 ">
		<div id="loginForm">

			<div>
				<h1>Login Page</h1>
			</div>

			<form novalidate class="form-inline" name="loginForm">
	
				<div class="form-group">
					<label for="loginName"> Username: </label>

					<input type="text" class="form-control" id="loginName" name="loginName" ng-model="user.username" required="required" focus-directive enter-directive enter="login()">
				</div>
			
				<div class="form-group">
					<label for="loginPass"> Password: </label>	

					<input type="text" class="form-control" id="loginPass" name="loginPass" ng-model="user.password" required="required" enter-directive enter="login()">
				</div>

				<button class="btn btn-default" ng-click="login()">Log in</button>

				<div class="errorBlock text-center" ng-show="submitted">
					<p class="errorMessage" ng-show="errors.available">Incorrect credentials</p>
					<p class="errorMessage" ng-show="loginForm.loginName.$error.required">Username is required</p>
					<p class="errorMessage" ng-show="loginForm.loginPass.$error.required">Password is required</p>
				</div>
			
			</form>

	
		</div>

	</div>

