.mainContent{
	background-color: white;
	border: 1px solid black;
	border-radius: @main-border-radius;

	.tablecolor td{
		background-color:white;
		word-break:break-all;
	}

	.backgroundcolor{
		background-color: @background-color-main;
	}
	
	.firstheader{
		border-top-left-radius: @main-border-radius;
	}

	.lastheader{
		border-top-right-radius: @main-border-radius;
	}
}